
.app {
  padding: 30px;
}

.cardDone {
  background-color: #86868647;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.buttonDone{

}
.card-index{
  box-shadow: #2196F3;
}
